<!DOCTYPE html>
<!-- saved from url=(0060)https://pc.dialab.ru/cabinet/results/login/9915358207/341028 -->
<html lang="ru" dir="ltr" class="js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--[if IE]><![endif]-->

<head>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
  <title>Результати аналiзiв/title>

      <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<style>
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #F3F3F3;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #EEE;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-container {
  max-width: 400px;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.nav a {
  margin-left: 10px;
  padding: 5px;
  background-color: #44AAEE;
  border: 0;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
.nav a:focus{
  outline: none;
}
.nav a.active {
  background-color: #44EEAA;
}
.nav a:hover {
  background-color: #44EEAA;
}

button{
  margin-left: 10px;
  padding: 5px;
  background-color: #44AAEE;
  border: 0;
  color: white;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:focus{
  outline: none;
}
button.active {
      background-color: #44EEAA;
    }
button:hover {
  background-color: #44EEAA;
}
/*})'"*/

</style>

      <!--[if lt IE 9]>
    <script src="/sites/all/themes/zen/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="nav">
    <a href="<%- url %>admin/upload">Сгенерувати</a>
    <a href="<%- url %>admin/download">Завантажити</a>
    <a href="<%- url %>admin/delete">Видалити</a>

  </div>
  <header>
		<h1>Головна</h1>
	</header>
</div>

<script type="text/javascript">

</script>






</body></html>
